
body{
	background-color:lightblue;
}

h1 {
	color:red;
	font-family: Georgia;
	
}
h2{
	color:Orchid;
	background-color:white;
}

p {	
	color:blue;
	font-family: Garamond, "Times New Roman";
	font-size:2vw;
	font-style:italic;
	font-weight:bold;
}

b{
	color:purple;
}
