
body{
	background-color:lightblue;
}

h1 {
	color:red;
	font-family: Georgia;
	
}
a:hover { text-decoration : underline }
	a{
		text-decoration:none;
		}
h2{
	color:Orchid;
	background-color:white;
}

p {	
	color:blue;
	font-family: Garamond, "Times New Roman";
	font-size:2vw;
	font-style:italic;
	font-weight:bold;
}

p:first-letter {
    font-size: 1.5em;
}

b{
	color:purple;
}
dt{
	color:red;
}
